
<div class="col-md-10 col-center">
<div class="panel panel-default">
 <div class="panel-heading">
    <h3 class="panel-title"><%= @job.title %> </h3>
  </div>
<div class="panel-body">   
<p><%= render_jobs_description(@job) %></p>
<table class="table">
<thead>
<tr>

<div class="text-center">
<h3>  <%= link_to "投遞履歷", new_job_resume_path(@job) %></h3>
</div>
</tr>
</thead>
<tbody>

</tbody>
</table>
  </div>
<%= link_to "回首頁", root_path,  class: "btn btn-primary pull-right" %>
</div>
</div>
 
  
