<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
          <div class="col-md-12">
              <h3 class="panel-title">
                  <div class="resume-user-info">
                  <span class="fa fa-user-circle-o">求職者: </span>  
                   <span><%= resume.user.nickname.to_s + "-"  + resume.user.email.to_s %></span>
                  <span class="resume-time"><span class="fa fa-envelope-o"></span> 投遞時間：<%= resume_date_add8hour(resume)%>
                  </div>
              </h3>
          </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="trix-content">
        <h4><span><span class="fa fa-file-text-o"></span> 履歷描述: </h4>
        <p> <%= simple_format(resume.content) %></p>
      </div>
      <hr>
      <% if resume.attachment.present? %>
        <i class="fa fa-paperclip"> </i>
        <%= link_to("下載履歷", resume.attachment_url , :target=> "_blank") %>
      <% else %>
         沒有上傳履歷
      <% end %>
  </div>
</div>