<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <div class="row jobinfo">
        <!-- 工作機會 -->
        <div class="col-md-2">
          <h4>工作機會</h4>
          <ul class="list">
            <li><a href="#">求職專區 </a></li>
            <li><a href="#">海外工作 </a> </li>
            <li><a href="#">外包專區 </a> </li>
          </ul>
        </div>
        <!-- 工作機會 end -->
        <!-- 企業資源 -->
        <div class="col-md-2">
          <h4>企業資源</h4>
          <ul class="list">
            <li><a href="#">企業培訓 </a></li>
            <li><a href="#">聯合招募 </a> </li>
            <li><a href="#">企業實習 </a> </li>
          </ul>
        </div>
        <!-- 企業資源 end -->
        <!-- 關於我們 -->
        <div class="col-md-2">
          <h4>關於我們</h4>
          <ul class="list">
            <li><a href="#">公司介紹</a></li>
            <li><a href="#">問題反應</a> </li>
            <li><a href="http://gregyang.logdown.com">聯繫方式</a> </li>
          </ul>
        </div>
        <!-- 關於我們 end -->
        <div class="col-md-6">
          <div class="linktoimg">
            <a href="#"> <%= image_tag "company/facebooklink.png" %> </a>
            <a href="#"> <%= image_tag "company/Linked-Inlink.png" %></a>
            <a href="#"> <%= image_tag "company/twitterlink.png" %></a>
          </div>
          <div class="linktoauthor">
          <a href="http://gregyang.logdown.com">
            <%= image_tag "company/logdownlogo.png" %>
            Welcome to My Blog
          </a>
          </div>
        </div>
      </div>
      <hr>
        <p class="text-center">Copyright ©2018 | Dream Job |
            Design by
            <a href="http://gregyang.logdown.com" target=_new>Greg</a>
        </p>
      </div>
    </div>
  </div>
 </footer>