<footer class="text-center">
  <div class="footer-below">
     <p class="text-center">Copyright ©2018 JobChances
        <br>Design by
        <a href="http://gregyang.logdown.com" target=_new>Greg</a>
    </p>
  </div>
 </footer>